{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
      "relay",
      "transform-object-rest-spread",
      "transform-class-properties",
      "react-hot-loader/babel"
    ]
}