a {
  text-decoration: none;
}

.link {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  display: inline-flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.link:focus {
  outline-color: gray;
}

.active .link {
  font-weight: 600;
}
