.root {
  position: relative;
}

.loadingOverlay {
  align-items: center;
  background-color: black;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}
